* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  padding-block: .3rem;
  padding-inline: .7rem;
  border-radius: 10px;
  border: 2px solid #3882f6;
  color: #f9faf8;
  font-weight: 600;
  background-color: #3882f6;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
}

.cta-button {
  border: 2px solid #f9faf8;
}

/* navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .5rem;
  background-color: #1f2937;
  padding-inline: 5rem;
}

.logo-area {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #f9faf8;
}

nav ul {
  display: flex;
  gap: 2rem;
}

li {
  text-decoration: none;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #f9faf8;
  font-size: .8rem;
}

li a:hover {
  border-bottom:solid 2px  #3882f6;
}


.header-logo {
  width: 40px;
  height: auto;
}

/* hero section */

.hero {
  display: flex;
  background-color: #1f2937;
  place-content: center;
  padding-inline: 1rem;
  min-height: 20rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #f9faf8;
  padding-left: 2rem;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

/* team section */

.hero-image {
  width: 350px;
  height: 400px;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 6rem;
  padding-block: 1.5rem;
  gap: 1rem;
  color: #1f2937;
  min-height: 40svh;
}

.team-heading {
  margin-bottom: 1rem;
}
b {
  color: #3882f6;
}

.team-container {
  display: flex;
  gap: .5rem;
  text-align: center;
}

.team-dp {
  width: 80px;
  border-radius: 50%;
  border: solid 3px #3882f6;
}
.ran-info {
  flex: 1;
}

.four {
  height: 80px;
  object-fit:cover
}

/* quote section */
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem;
  background-color: #e5e7eb;
  font-size: 1.25rem;
}

.quote-name {
  font-size: 1rem;
  padding-left: 3rem;
}

.cta {
  display: flex;
  place-content: center;
  padding-block: 5rem;
  
}

.cta-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  background-color: #3882f6;
  padding: 2rem;
  border-radius: 10px;
  color: #f9faf8;
  padding-inline: 4rem;
}

footer {
  text-align: center;
  color: #f9faf8;
  font-size: .8rem;
  background-color: #1f2937;
  padding-block: 1.5rem;
}

